.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 800px;
}

.top-bar {
    position: fixed;
    width: calc(100vw - 40px);
    background: linear-gradient(black, #152934);
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    flex-shrink: 0;
    z-index: 1000;
}

.app-title {
    font-size: 32px;
}

.right-aligned-container {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.account {
    margin-left: 20px;
    margin-right: 20px;
    white-space: nowrap;
}

.main-screen-container {
    flex-grow: 1;
    flex-shrink: 0;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.loading {
    position: absolute;
    top: calc(50% - 64px);
    left: calc(50% - 64px);
    text-align: center;
}