.top-bar {
    position: fixed;
    width: calc(100vw - 40px);
    background: linear-gradient(black, #152934);
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 600px;
}

.app-title {
    font-size: 32px;
}

.right-aligned-container {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.account {
    margin-left: 20px;
    margin-right: 20px;

    white-space: nowrap;
}

.main-screen-container {
    top: 80px;
    padding-top: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading {
    position: absolute;
    top: calc(50% - 64px);
    left: calc(50% - 64px);
    text-align: center;
}